* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
main .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
main .layer-bg {
  background: url(https://c4.wallpaperflare.com/wallpaper/734/815/785/jet-fighters-lockheed-martin-f-22-raptor-aircraft-jet-fighter-wallpaper-preview.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 800px;
}
main .layer-txt button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: rgba(141, 182, 208, 0.197);
  font-size: 70px;
  color: azure;
  width: 100%;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  padding: 20px;
}
main .layer-txt :hover {
  background-color: transparent;
  letter-spacing: 6px;
}

.lockheed {
  font-family: "Poppins", sans-serif;
}

section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-top: 50px;
}
section li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
section img {
  max-width: 300px;
  max-height: 300px;
}

header nav {
  height: 70px;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.537);
  position: relative;
  white-space: nowrap;
  width: 100%;
}
header nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
  display: inline;
  padding: 10px 10px 0 10px;
  font-size: 40px;
}
header nav ul li :hover {
  color: #556566;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
}
header nav .lockheed {
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  padding: 10px;
  padding-right: 20px;
}
header nav .lockheed:hover {
  cursor: pointer;
}
header header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}
header .nav-active {
  background-color: rgb(128, 128, 128);
  box-shadow: 5px -1px 12px -5px grey;
}

form {
  margin-top: 70px;
  margin-left: 650px;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.9960784314);
  width: 20%;
}
form h2 {
  padding-bottom: 10px;
}
form label {
  display: block;
  margin-bottom: 10px;
  color: rgb(10, 10, 10);
  font-size: 25px;
}
form input[type=text],
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(161, 180, 186, 0.554);
}
form input[type=submit] {
  background-color: #2f6164;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
form input[type=submit]:hover {
  background-color: #4083aa;
}

footer {
  padding-top: 50px;
}

@media (min-width: 2000px) {
  header nav {
    background-color: rgba(128, 128, 128, 0.718);
    display: flex;
  }
  header nav .lockheed {
    padding-left: 180px;
    padding-right: 1200px;
  }
  header nav ul {
    padding-left: 720px;
  }
  header nav ul li {
    padding-right: 70px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
  }
  main .layer-bg {
    background: url(https://i0.wp.com/militaryleak.com/wp-content/uploads/2018/06/mikoyan-mig-29-jet-fighter-aircraft-wallpapers.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 1370px;
  }
  section .f-section {
    padding-top: 50px;
  }
  section .fs-div {
    padding-bottom: 20px;
  }
  section .fs-div h3 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  section .fs-div p {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  section .row h3 {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .img-li {
    transition: transform 0.3s ease;
  }
  .img-li:hover {
    transform: scale(1.1);
  }
  section .ss_main_div .f_div h3 {
    font-size: 40px;
  }
}
@media (min-width: 767px) and (max-width: 800px) {
  header nav {
    display: flex;
  }
  header nav .lockheed {
    margin-right: 0px;
    padding-right: 30px;
    font-size: 30px;
    padding-top: 15px;
  }
  header nav ul {
    padding-left: 60px;
    margin-bottom: 0px;
  }
  header nav ul li {
    margin-right: 3px;
    padding-right: 5px;
    font-weight: normal;
    padding-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
  }
  main .layer-bg {
    background: url(https://images2.alphacoders.com/331/33120.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 1024px;
  }
  section ul {
    grid-template-columns: repeat(2, 1fr);
  }
  section .container {
    text-align: center;
  }
  section .container p {
    text-align: left;
  }
  form {
    margin-left: 160px;
    width: 65%;
  }
}
@media (min-width: 375px) and (max-width: 400px) {
  header nav ul {
    padding-left: 0px;
  }
  header nav ul li {
    font-size: 30px;
    background-color: rgba(85, 88, 102, 0.7921568627);
    margin: 0px;
    padding-right: 9px;
  }
  main .layer-bg {
    background: url(https://images4.alphacoders.com/414/thumb-1920-41416.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 375px;
    height: 677px;
  }
  .lockheed {
    margin-left: 15px;
    padding: 0px !important;
  }
  main .layer-bg .layer-txt button {
    padding-bottom: 20px;
    font-size: 55px;
    padding: 10px;
  }
  section ul {
    padding-left: 1px;
    grid-template-columns: repeat(1, 1fr);
  }
  section .container {
    text-align: center;
  }
  section .container p {
    text-align: left;
  }
  form {
    margin-left: 30px;
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
